
<div class="h-92 flex items-center justify-center h-screen relative" style="background-image: url('assets/images/background.avif');">
      <div class="absolute shadow-lg shadow-black h-3/6 w-2/6 rounded-lg left-20 top-11">
        <img [src]="product.imgUrl" class="hover:scale-105 h-full w-full rounded-lg ">
       </div> 
       <div class="flex flex-col space-y-3 m-4 absolute left-[650px] mx-32 top-11">
        <p class="text-white text-xl font-semibold">{{product.name}}</p>
        <p class="text-white">{{product.description}}</p>
    </div>
</div>
